Screen {background:#000a1a; color:#00cfff; border:tall #0044aa; padding:1 2; } #history{ color:#00cfff;
    background: transparent; scrollbar-color:#0055cc #000a1a; border:none; height:1fr;}#input{
        height:2; background: #000f22;  border-top:tall #0035aa; }#prompt{width:2; color:#3af0ff;
        } 
        Input { 
            background:transparent; border:none; color:#00CFFF; height:1;} Input:focus {background: transparent;
    border: none;
    color:#e2e5ed;
    } RichLog {background: transparent; border: none; padding: 1 2 ;}

App.-theme-dark Screen {background:#0a0002; color:#cc0000; border:heavy#880000; padding:1 3; } App.-theme-dark #history{ color:#cc0000;
    background: transparent; scrollbar-color:#880000 #0a0002; border:none; height:1fr;} App.-theme-dark #input{
        height:1; background: #130002;  border-top:tall #aa0000; }App.-theme-dark #prompt{width:2; color:#ff0000;
        } 
       App.-theme-dark Input { 
            background:transparent; border:none; color:#Cc0000; height:1;}App.-theme-dark Input:focus {background: transparent;
    border: none;color:#ffcccc;
    } 
